@{
    Layout = null;
}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link href="~/css/accountStyle.css" rel="stylesheet">
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "poppins",sans-serif;
    }

    .background {
        /* 最下層背景 */
        background: url('@Url.Content("~/images/login.jpg")');
        /* background-color: #98979783; */
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: 100%;
        /* margin-top:50px; */
        filter: blur(2px);
    }

    .main {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 75%;
        height: 700px;
        /* margin-top: 50px; */

        background: url('@Url.Content("~/images/login.jpg")');
        /* background-image: linear-gradient(to right bottom, rgb(40, 42, 55) 0%, rgb(40, 42, 55) 20%, rgba(40, 42, 55, 0.9) 60%, rgba(17, 22, 50, 0.4) 100%),url(../images/login.jpg); */
        background-position: center;
        background-size: cover;
        border-radius: 20px;
        overflow: hidden;
    }


        /*中間白色透明背景*/
        .main .verify-section {
            position: absolute;
            left: 50%;
            transform: translate(-50%,0);
            /* margin:0 auto; */
            /* width: calc(100% - 58%); */
            width: 500px;
            height: 100%;
            color: #fff;
            background-color: rgba(88, 85, 85, 0.2);
            /* backdrop-filter: blur(4px); */
        }

    .verify-section .form-box {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }


        .verify-section .form-box h2 {
            text-align: center;
            font-size: 30px;
            margin: 20px 0 5px 0;
        }


        .verify-section .form-box h5 {
            text-align: center;
            font-size: 16px;
            color: #d9d9d9;
            margin: 30px auto;
            background-color: rgba(0,0,0,0.3);
            width: 150px;
        }

        .verify-section .form-box p {
            font-size: 14px;
            text-align: center;
            margin: 0 40px 30px 40px;
        }

    .form-verify {
        width: 350px;
        /* height: 30px; */
        left: 65%;
        transform: translate(-55%,0);
        position: relative;
        margin: 30px 0;
    }

        .form-verify input {
            padding: 5px 0 5px 45px;
            height: 35px;
            font-size: 16px;
            color: black;
        }

        .form-verify i, .form-resetPassword i {
            font-size: 20px;
            color: #222222;
            position: absolute;
            top: 55%;
            left: 10px;
            transform: translateY(-50%);
        }

    .resendBtn {
        width: 150px;
        height: 35px;
        margin-top: 40px;
        left: 50%;
        transform: translate(-50%,0);
        position: relative;
        outline: none;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        background: #4F9D9D;
        font-size: 16px;
        color: #fff;
        box-shadow: rgba(0,0,0,0.4);
        font-weight: bolder;
    }

        .resendBtn:hover {
            background: transparent;
            border: 1px solid #4f9d9d;
            border-radius: 2px;
            color: #4f9d9d;
        }

    .form-box .backBtn {
        left: 43%;
        margin-top: 30px;
        position: relative;
    }

        .form-box .backBtn a {
            color: #1c94e9;
            font-size: 16px;
            letter-spacing: 1px;
        }
</style>


<title>忘記密碼</title>
<div class="background"></div>
<article>
    <div class="main container">
        <div class="row verify-section">
            <div class="form-box col-md-12">
                <form id="forgetPassword">
                    <h2>重設密碼</h2>
                    <h5>請輸入帳號</h5>
                    <p class="col-sm-8">請輸入你的帳號，我們會發送一封信件到註冊時的信箱，點擊信件中的連結以重設密碼。</p>
                    <div>
                        <div class="form-verify">
                            <i class="bi bi-person-fill"></i>
                            <input type="text" id="memberAccount" name="memberAccount" class="user_input" autocomplete="off">
                            @*@Html.TextBox("memberEmail", null, new { type = "email", @class = "user_input", required = "required" })*@
                        </div>
                    </div>
                    <button class="resendBtn" type="submit">送出</button>
                    <div class="backBtn">
                        @*<a href="#">回上一頁</a>*@
                        @Html.ActionLink("回上一頁", "Login" )

                    </div>
                </form>
            </div>
        </div>
    </div>
</article>
<script src="https://accounts.google.com/gsi/client" async defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>
    document.getElementById("forgetPassword").addEventListener("submit", function (event) {
        event.preventDefault();

        let memberAccount = document.getElementById("memberAccount").value;

        if (memberAccount.trim() === "") {
            alert("請輸入帳號!");
            return false;
        }

        const formData =
        {
            memberAccount: memberAccount,
            memberPassword: ""
        }

        console.log(JSON.stringify(formData));

        $.ajax({
            type: "POST",
            url: "/api/Members/forgetPassword",
            data: JSON.stringify(formData),
            contentType: "application/json"
        }).done(data => {
            //alert(data);
            if (!data.success) {
                alert(data.message);
                return;
            }
            alert(data.message);

        }).fail((jqXHR, textStatus, errorThrown) => {
            if (jqXHR.status === 400) {
                const errorResponse = jqXHR.responseJSON;
                alert("fail" + errorResponse.message);
            } else {
                console.error("AJAX error:", textStatus, errorThrown);
            }
        });
        return false;
    });

</script>