@{
    ViewData["Title"] = "資料來源";
}

@section Styles {
    <style>
        .list-group-item {
            transition: transform 0.5s;
        }

            .list-group-item:hover {
                transform: translateX(5px);
            }
    </style>
}

<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading">Images</div>
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item ">Getty Images- Wind Chime</li>
                    <li class="list-group-item ">Photo by Benjamin DeYoung on Unsplash- Fire</li>
                    <li class="list-group-item ">Photo by Luca Bravo on Unsplash- Forest</li>
                    <li class="list-group-item ">Photo by Nadia Valko on Unsplash- Rain</li>
                    <li class="list-group-item ">Photo by Sean Oulashin on Unsplash- Wave</li>
                    <li class="list-group-item ">  <a href="https://storyset.com/social-media">Social media illustrations by Storyset- Appreciation</a></li>
                    <li class="list-group-item ">
                        Photo by
                        <a href="https://unsplash.com/@@konstantinkleine?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Konstantin Kleine</a> on
                        <a href="https://unsplash.com/images/nature/mountain?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                    </li>
                    <li class="list-group-item">Image by <a href="https://www.freepik.com/free-vector/hand-drawn-people-avatar-collection_5131927.htm#page=3&query=cartoon%20profile&position=49&from_view=keyword&track=ais">Freepik</a></li>
                    <li class="list-group-item"><a href="https://www.flaticon.com/free-icons/gift" title="gift icons">Gift icons created by Freepik - Flaticon</a></li>
                </ul>
            </div>
            <div class="panel panel-success">
                <!-- Default panel contents -->
                <div class="panel-heading">Icon</div>
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item ">Arkinasi- Mission</li>
                    <li class="list-group-item ">Anggara- Team</li>
                    <li class="list-group-item ">Leremy- Thanks</li>
                    <li class="list-group-item ">Muhammad_Usman- Footprint</li>
                    <li class="list-group-item ">t-rex- Edit</li>
                    <li class="list-group-item "><a href="https://www.flaticon.com/free-icons/profile" title="profile icons">Profile icons created by Freepik - Flaticon</a></li>
                    <li class="list-group-item"><a href="https://www.flaticon.com/free-icons/coin" title="coin icons">Coin icons created by NajmunNahar - Flaticon</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <img src="~/assets/images/appreciation-animate.svg" />
        </div>
    </div>
</div>

@section Scripts {
    <script></script>
}


